.cross-button {
	@include reset-button;
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius);

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		// left: -7px;
		translate: -50%;
		width: 70%;
		height: 2px;
		background-color: var(--color-light);
	}
	&::before {
		rotate: 45deg;
	}

	&::after {
		rotate: -45deg;
	}
}
